jupyterlab
openai-whisper
librosa
deep-translator
transformers
sentence-transformers
langchain-core
tiktoken
faiss-cpu
faker
langchain-google-genai
google-generativeai
google-genai
langchain-community
openai
xgboost
shap
scikit-learn
pandas
numpy
matplotlib
seaborn
